* {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    height: 675px;
    background: rgb(2,0,36);
    background: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(5,5,94,1) 63%, rgba(0,212,255,1) 100%); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

h1 {
    color: whitesmoke;    
    font-size: 72px;
    font-weight: bold;
}

.dp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
    margin: auto;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 50px;
}

.author {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

h2, h3 {
    margin: 0 20px;
    
}

h3 {
    color: #998585;
}